@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

.chore_title, .add_member, .chore-details, .group-title, .group-info, .group-chores {
  color: #63B5E2;
  font-family: 'Bree Serif', serif;
  font-size: 75px;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}
